.c-item, .c-item>img {
  display: block;
  width: calc(80vw / 3 - 15px);
  z-index: 1;
}

.c-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.capture {
  position: absolute;
  color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}