.header { 
  height: 150px;
  display: flex;
  align-items: center;
  margin: 0 10vw;
  position: relative;
  z-index: 10;
}

.nav { 
  flex-basis: 50%;
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
}

.title, .menu {
  display: flex;
  flex-basis: 25%;
}

.title {
  
}

.menu {
  justify-content: flex-end;
  cursor: pointer;
}