.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin: 0 10vw;
  /* height: calc(100vh - 150px); */
  height: 60vh;
  background-color: rgb(0, 0, 0);
  color: white;
}

.text, .btn {
  letter-spacing: 1px;
  font-size: 22px;
}

.text {
  width: 500px;
  font-weight: 300;
}

.btn {
  width: 250px;
  height: 50px;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}